---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<article>
  <h1 class="pb-8 text-4xl font-extrabold leading-normal text-center border-b">
    Страница не найдена
  </h1>
  <div class="pt-11">
    <p>
      К сожалению, указанная страница не существует. Если Вы перешли по ссылке, то можете обратиться к
      администратору ресурса-источника.
    </p>
    <p>Вернутья на <a href="{{ '/' | url }}">главную</a>.</p>
  </div>
</article>
