---
pagination:
  data: collections.postsReverse
  size: 4
  alias: postslist
layout: layouts/base.njk
permalink: /posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}
eleventyNavigation:
  key: Блог
  order: 2
---
<h1 class="mb-4 text-2xl md:text-3xl lg:text-4xl font-extrabold leading-normal sr-only">Блог</h1>
<div class="divide-y">
  {% include "postslist.njk" %}
</div>
<div class="flex justify-between font-medium md:text-lg">
  {% if page.url != pagination.href.first %}
    <a class="flex-1 text-left md:hidden" href="{{ pagination.href.previous }}">&leftarrow; Пред</a>
    <a class="flex-1 text-left hidden md:block" href="{{ pagination.href.previous }}">&leftarrow; Предыдущие посты</a>
  {% else %}<span style="flex-1 text-left"></span>{% endif %}
  <div class="mx-4 whitespace-nowrap">{{ pagination.pageNumber + 1 }} из {{ pagination.pages | count }}</div>
  {% if page.url != pagination.href.last %}
    <a class="flex-1 text-right hidden md:block" href="{{ pagination.href.next }}">Следующие посты &rightarrow;</a>
    <a class="flex-1 text-right md:hidden" href="{{ pagination.href.next }}">След &rightarrow;</a>
  {% else %}<span style="flex-1 text-left"></span>{% endif %}
</div>
